@using zapad.Public.WebInterface.Shared.local;﻿
@using zapad.Public.WebInterface.Tools;
@{
    bool isMainPage = HelperCore.isMainPage();
}

<!DOCTYPE html>
<html>
<head>
    @Html.Partial("Partial/Layout/_Head")

    <!-- Render section "beforeHeadEnd" -->
    @RenderSection("beforeHeadEnd", required: false)
</head>
<body>
    <!-- Modal window main -->
    <div id="modal-window-form-call"></div>

    <!-- Header -->
    <header class="b-header">
        @Html.Partial("Partial/Layout/_Header")
    </header>

    <!-- Container -->
    <div class="container b-container">
        <!-- Main -->
        <div class="col-md-10 b-main">
            @RenderBody()
        </div>

        <!-- Sidebar -->
        <div class="col-md-2 b-sidebar">
            <!-- Render section "sidebar" -->
            @RenderSection("sidebar", required: false)
        </div>
    </div>

    <!-- Footer -->
    <footer class="b-footer">
        @Html.Partial("Partial/Layout/_Footer")
    </footer>

    <!-- Render section "beforeBodyEnd" -->
    @RenderSection("beforeBodyEnd", required: false)
</body>
</html>