<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>CRM - @ViewBag.Title</title>

<!-- #region Include Css -->
@Styles.Render("~/Content/AllCss")
<!-- #endregion -->
<!-- #region Include Js -->
@Scripts.Render("~/Scripts/KendoJS")
<script>
    kendo.culture("ru-RU");
</script>
@Scripts.Render("~/Scripts/BootstrapJS")
@Scripts.Render("~/Scripts/ThirdPartyJS")
<script>
    moment.locale('ru');
</script>
@Scripts.Render("~/Scripts/SignalRJS")
<script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>
@Scripts.Render("~/Scripts/AppJS")
<!-- #endregion -->